<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1050128185147-161im3p9ros57vksurg53njo5p83epce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050128185147-161im3p9ros57vksurg53njo5p83epce</string>
	<key>API_KEY</key>
	<string>AIzaSyDDOiFGS3dYyf1pjlCzm7q6RV07IOkiNL8</string>
	<key>GCM_SENDER_ID</key>
	<string>1050128185147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-e0005</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-e0005.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050128185147:ios:709982485379e84017691e</string>
</dict>
</plist>